 <header class="registarion-header">
    <%= link_to image_tag("kakomo-logo04.jpg", class:"kakomo-logo"), "/" %>
 </header>

<div  class="registration-main"> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2 class="registration-title" >新規登録</h2>
 
  <div class="form-group">
      <div class="field">
        <%= f.label :nickname, "ニックネーム" %><br />
        <%= f.text_field :nickname, class:"input-default" %>
      </div>
 
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, class:"input-default", autocomplete: "email" %>
      </div>
      
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, class:"input-default", autocomplete: "new-password" %>
      </div >

      <div class="field">
        <%= f.label :password_confirmation,"パスワード（確認用）" %><br />
        <%= f.password_field :password_confirmation, class:"input-default", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する",class:"register-btn" %>
      </div>
    </div>

    <div class= "login-path">
        <%= render "devise/shared/links" %>
     </div>
  <% end %>
</div>