<!DOCTYPE html>
<html>
  <head>
    <title>KakomoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    
    <!--空白の原因--
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    空白の原因-->
    <%= yield %>

  </body>
  
  <footer class="footer">
    <p class="copyright">
      Copyright(C) Kakomo ALL RIGHTS RESERVED.
    </p>
  </footer>

</html>
